{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "doc"}]}.
{deps, [
  {protobuffs, "0.8.*", {git, "git://github.com/basho/erlang_protobuffs", {tag, "0.8.0"}}}, 
  {lager, "2.0.0", {git, "https://github.com/basho/lager.git", "169cffd94759e99e2e8870b125861a91e3c1482a"}}
]}.
